# Proteger datos sensibles
counters.json

# Archivos temporales de Office/LibreOffice
.~lock.*
*.tmp
.devcontainer/
output/

# Si no quieres subir los precios a GitHub
listado_precios_clientes.ods
error_log.txt

# Evitamos subir pycache generado local
__pycache__/

# Generador de contraseñas
hash_gen.py

