# Proteger datos sensibles
counters.json

# Archivos temporales de Office/LibreOffice
.~lock.*
*.tmp

# Si no quieres subir los precios a GitHub
listado_precios_clientes.ods
error_log.txt
input.txt
ultimo_resultado.json

# Evitamos subir pycache generado local
__pycache__/